@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}
.img-box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),var(--color-secondary),var(--color-secondary), var(--color-primary),var(--color-secondary),var(--color-secondary), var(--color-primary),var(--color-secondary));
    box-shadow: var(--shadow-white);
    border-radius: inherit;
    z-index: -11;
    padding: 3px;
    animation: spin 7s linear infinite;
}
@keyframes spin{
    to{
        --angle:360deg;
    }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translatey(-50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.fade-in {
  animation: fade-in 0.5s linear;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.4);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.fade-up {
  animation: fade-up 0.7s linear;
}

@keyframes fade-out {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-out {
  animation: fade-out 0.6s linear;
}

@keyframes f-i-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.f-i-left {
  animation: fade-out 0.6s linear;
}

/* for bottom entry and top exit */
.Top-exit{
  animation: T-exit 0.4s linear;
  animation-timeline: view();
  animation-range: exit 10%;
}
@keyframes T-exit{
   from{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  to{
    opacity: 0;
    transform: translateY(-100px) scale(0.8);
  }
  
}

.bottom-entry{
  animation: B-entry 0.4s linear;
  animation-timeline: view();
  animation-range: entry 20% ;
}
@keyframes B-entry{
  from{
    opacity: 0;
    transform: translateY(100px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* for left entry  */

.left-entry{
  animation: L-entry 0.4s linear;
  animation-timeline: view();
  animation-range: entry 20% ;
}
@keyframes L-entry{
  from{
    opacity: 0;
    transform: translateX(-100px) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

/* for right entry */
.right-entry{
  animation: R-entry 0.4s linear;
  animation-timeline: view();
  animation-range: entry 20% ;
}
@keyframes R-entry{
  from{
    opacity: 0;
    transform: translateX(100px) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
