@keyframes fade-in {
  from {
    opacity: 0;
    transform: translatey(-50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.fade-in {
  animation: fade-in 0.5s linear;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.4);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.fade-up {
  animation: fade-up 0.7s linear;
}

@keyframes fade-out {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-out {
  animation: fade-out 0.6s linear;
}

@keyframes f-i-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.f-i-left {
  animation: fade-out 0.6s linear;
}