@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@keyframes spin{
    to{
        --angle:360deg;
    }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translatey(-50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.fade-in {
  animation: fade-in 0.5s linear;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.4);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.fade-up {
  animation: fade-up 0.7s linear;
}

@keyframes fade-out {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-out {
  animation: fade-out 0.6s linear;
}


/* for bottom entry and top exit */
.Top-exit{
  animation: T-exit 0.4s linear;
  animation-timeline: view();
  animation-range: exit 5%;
}
@keyframes T-exit{
   from{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  to{
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
  }
}

.bottom-entry{
  animation: B-entry 0.4s linear;
  animation-timeline: view();
  animation-range: entry 20% ;
}
@keyframes B-entry{
  from{
    opacity: 0;
    transform: translateY(100px) scale(0.8);
  }
  to{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

/* for left entry  */

.left-entry{
  animation: L-entry 0.4s linear;
  animation-timeline: view();
  animation-range: entry 20% ;
}
@keyframes L-entry{
  from{
    opacity: 0;
    transform: translateX(-100px) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

/* for right entry */
.right-entry{
  animation: R-entry 0.4s linear;
  animation-timeline: view();
  animation-range: entry 20% ;
}
@keyframes R-entry{
  from{
    opacity: 0;
    transform: translateX(100px) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

/* #for skills progress bar */

.prog-98{
  animation: pr-98 0.7s ease forwards;
}
@keyframes pr-98{
  to{
    width: 98%;
  }
}
.prog-95{
  animation: pr-95 0.7s ease forwards;
}
@keyframes pr-95{
  to{
    width: 95%;
  }
}
.prog-90{
  animation: pr-90 0.7s ease forwards;
}
@keyframes pr-90{
  to{
    width: 90%;
  }
}
.prog-80{
  animation: pr-80 0.7s ease forwards;
}
@keyframes pr-80{
  to{
    width: 80%;
  }
}
.prog-85{
  animation: pr-85 0.7s ease forwards;
}
@keyframes pr-85{
  to{
    width: 85%;
  }
}
.prog-70{
  animation: pr-70 0.7s ease forwards;
}
@keyframes pr-70{
  to{
    width: 70%;
  }
}
