/* ### Mobile screen ### */
@media (max-width: 450px) and (min-width: 380px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .main-container {
    height: 95vh;
    width: 90%;
    flex-direction: column-reverse;
    gap: 0px;
    padding: 5px;
    border-radius: 20px;
  }
  .hide1 {
    display: none;
  }
  .navbar {
    position: relative;
    width: 90%;
    height: 60px;
    padding: 8px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.135);
  }
  .nav-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: inset 0 0 5px rgba(20, 20, 20, 0.2); */
    line-height: 37px;
    color: white;
  }
  .fill {
    display: none;
  }
  .sub-container {
    padding: 0;
    margin: 0;
    border-radius: 2px;
  }
  .Home-container {
    height: 85vh;
    flex-direction: column-reverse;
  }
  .Home-l-contant {
    flex-basis: 55%;
  }
  .introduction {
    padding: 0;
    padding: 0 15px;
  }
  .Home-l-contant .intro {
    line-height: 30px;
  }
  .intro span:nth-of-type(1) {
    font-size: var(--fs2);
    line-height: 0px;
  }
  .intro span:nth-of-type(2) {
    font-size: var(--fs3);
    font-weight: var(--fw4);
  }
  .Home-l-contant .Bio {
    font-size: 14px;
    width: 310px;
    text-align: justify;
    margin-bottom: 15px;
  }
  .Home-r-container {
    height: 30%;
  }
  .social-icon .downloadCV{
    font-size: 18px;
    padding: 10px 12px;
    margin-right: 5px;
  }
  .social-icon .fa-brands {
    font-size: 18px;
    margin-right: 5px;
  }
}
