* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: rgb(255, 255, 255);
}
:root {
  /*box shadow*/
  --bsw: rgba(0, 0, 0, 0.2);

    /* border color */
  --bdr: rgba(255, 255, 255, 0.5);

    /*font color*/
  --fc1: rgb(2, 107, 107);
  --fc2: rgba(255, 255, 255);
  --fcn: rgb(99,168,163);

  /* font-size */
  --fs14: 0.875rem;
  --fs16: 1rem;
  --fs18: 1.125rem;
  --fs20: 1.25rem;
  --fs22: 1.375rem;
  --fs24: 1.5rem;
  --fs44: 2.75rem;

  /* font-weight  */
  --fw1: 450;
  --fw2: 500;
  --fw3: 600;
  --fw4: 700;

  /* font family*/
  --sans1: "Zalando Sans", sans-serif;
  --sans2: "Onest", sans-serif;
  --curs: "Borel", cursive;
  --syst: "Akaya Kanadaka", system-ui;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.bg-img img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: fill;
  object-fit: cover;
  overflow: hidden;
  z-index: -111;
  mix-blend-mode: darken;
  filter: brightness(85%);
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  width: 90%;
  height: 90vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  border: 1px solid var(--bdr);
  box-shadow:  0px 0px 17px var(--bsw);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  font-family: var(--sans1);
}

/* #Navbar */
.navbar {
  font-family: var(--sans2);
  padding: 5px;
  border-radius: 35px;
  border: 2px solid var(--bdr);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  font-weight: var(--fw3);
  color: var(--fcn);
  font-size: var(--fs20);
  padding: 12px 28px;
  border-radius: 35px;
  transition: 0.2s ease-in-out;
}

.navbar a.active {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  color: var(--fc1);
}

.navbar a:hover {
  transform: translateY(-2px);
  color: var(--fc1);
  text-shadow: 3px 6px 2px var(--bsw);
}

.sub-container {
  height: 90%;
  width: 98%;
  border-radius: inherit;
  padding: 0 20px;
  overflow-x: hidden;
}
.cus-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
}
.cus-scrollbar::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 1.5em;
}
.cus-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100vw;
}

.Home-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.Home-l-contant {
  flex-basis: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction {
  padding-left: 20px;
}
.intro span:nth-of-type(1) {
  font-size:var(--fs24);
  font-family: var(--curs);
  line-height: 40px;
}
.intro span:nth-of-type(2) {
  font-size: var(--fs44);
  font-weight: var(--fw4);
  text-transform: uppercase;
}
.Bio {
  font-size: var(--fs18);
  font-weight: var(--fw1);
  max-width: 620px;
  height: auto;
  line-height: 30px;
  margin-bottom: 30px;
}
.Bio span {
  font-size: var(--fs22);
  color: var(--fc1);
  font-weight: var(--fw3);
}

.btn{
  cursor: pointer;
  appearance: none;
  padding: 10px 20px;
  border: none;
  background: transparent;
  color: var(--fc1);
  font-size: var(--fs22);
  font-weight: var(--fw3);
  border-radius: 50px;
  box-shadow: 0px 0px 5px var(--bsw);
  margin-right: 15px;
  transition: 0.3s ease-in-out;
}
.social-icon .fa-brands {
  cursor: pointer;
  font-size: var(--fs24);
  color: var(--fc1);
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  box-shadow: 0px 0px 5px var(--bsw);
  transition: 0.3s ease-in-out;
}
.social-icon .fa-brands:hover,
.btn:hover {
  transform: scale(1.1);
  background-color: var(--fc1);
  color: var(--fc2);
  transform: translateY(-5px);
}

.Home-r-contant {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-r-contant .main-pic {
  height: auto;
  width: 65%;
  filter: brightness(95%);
  border-radius: 30px;
  box-shadow: inset 0px 0px 5px var(--bsw);
  transition: 0.3s linear;
}
.Home-r-contant .main-pic:hover {
  transform: scale(1.15);
}

/* #about */
.About-container {
  width: 100%;
  height: 100%;
}

.title {
  display: inline-block;
  padding: 5px 20px;
  /* border: 2px double rgb(204, 219, 232); */
  border-radius: 20px;
  margin: 5px 0px;
  box-shadow: 0 2px 5px var(--bsw);
  color: var(--fc1);
  z-index: 1;
  font-family: var(--syst);
}
.About-container .about {
  position: relative;
  top: 5%;
  left: 20px;
}
.ab-contant {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ab-sub-l-content {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -40px;
}

.ab-img {
  position: relative;
  height: 70%;
  width: 90%;
  box-shadow: inset 0 0px 5px var(--bsw);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ab-img img {
  height: 65%;
  width: auto;
  border-radius: 12px;
}
.ab-text {
  height: auto;
  width: 100%;
  text-align: justify;
  overflow: hidden;
}

.ab-sub-r-content {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  top: -40px;
}
.ab-sub-r-content .edu-box {
  height: 70%;
  width: 95%;
  box-shadow: inset 0 0px 5px var(--bsw);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  gap: 10px;
}
.edu-box .ed-con{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 10px;
}
.ed-con h2 ,i{
  font-family: var(--sans2);
  color: var(--fcn);
}
.edu-box .vline{
  background: rgba(255, 255, 255, 0.1);
  width: 5px;
  height: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--bsw);
}

.edu i {
  margin-right: 10px;
}
.edu-info {
  position: relative;
  width: 100%;
  height: 30%;
  font-family: var(--sans2);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--bsw);
  cursor: pointer;
  line-height: 25px;
}
.edu-info .h4{
  font-size: var(--fs22);
  font-weight: var(--fw4);
  line-height: 35px;
}
.edu-info .h5{
  font-size: var(--fs18);
  font-weight: var(--fw2);
}

.edu-info::before {
  content: "";
  position: absolute;
  background-color: var(--fcn);
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: inherit;
  transition: 0.3s linear;
}
.edu-info:hover::before {
  width: 100%;
  border-bottom: 2px solid var(--bdr);
}
.edu-info article {
  margin: 10px;
  z-index: 111;
}

/* #Skils */
.Skils-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.Skils-container .skils {
  position: absolute;
  top: 5%;
  right: 30px;
}





/* #Project */
.Work-container {
  height: 100%;
  width: 100%;
}
.Work-container .work {
  position: relative;
  top: 5%;
  left: 30px;
}











/* #Contact */
.Contact-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.Contact-container .contact {
  position: absolute;
  top: 5%;
  right: 30px;
}

