*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: rgb(255, 255, 255);
}
:root {

  /* Color */
  --bgm: rgb(247, 246, 240);
  --bgs: rgba(255, 255, 255, 0.1);
  --bdr: rgba(255,255,255,0.7);
  --bsw: rgba(157, 157, 157, 0.3);
  --bswi:rgba(73, 73, 73, 0.2);
  --fc1: rgb(81, 138, 134);
  --fc2: rgb(237, 178, 59);

   /* font-size */ 
  --fs1: 1.1rem;
  --fs2: 1.25rem;
  --fs3: 1.375rem;
  --fs4: 1.5rem;
  --fs5: 2.1875rem;
  --fs6: 2.5rem;

    /* font-weight  */
  --fw: 350;
  --fw0: 450;
  --fw1: 500;
  --fw2: 550;
  --fw3: 600;
  --fw4: 700;
  --fw5: 900;
}
a{
    text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

.bg-img img{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: fill;
    object-fit: cover;
    overflow: hidden;
    z-index: -111;
    mix-blend-mode: darken;
    filter: brightness(85%);
}
.main{
     height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.main-container{
    width: 90%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.7);
    box-shadow: 0px 0px 17px rgba(251, 250, 250, 0.275);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
/* #Navbar */
.navbar{
  height: 70px;
  width: 600px;
  border: 1px solid ;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-item{
  position: relative;
  cursor: pointer;
  font-size: var(--fs2);
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw1);
  /* margin-right: 10px; */
  padding: 0px 8px;
  border-radius: 8px;
  z-index: 111;
  /* color: var(--fc1); */
}
.navbar-item:hover,
.active{
  color: #000;
  font-weight: 600;
}
.fill{
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
   rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  width: 24%;
  height: 100%;
  border-radius: inherit;
  z-index: 0;
  transition: 0.3s ease-in-out;
  
}
.navbar a:nth-child(1):hover ~.fill{
  left: 0;
}
.navbar a:nth-child(2):hover~.fill{
  left: 23%;
  
}
.navbar a:nth-child(3):hover ~.fill{
  left: 48%;
}
.navbar a:nth-child(4):hover ~.fill{
  left: 76%;
} 

.nav-icon{
  display: none;
}

.sub-container{
    height: 90%;
    width: 98%;
    /* border: inherit; */
    margin-bottom: 10px;
    border-radius: inherit;
    padding: 0 20px;
    overflow-x: hidden;
}
.cus-scrollbar::-webkit-scrollbar{
    scrollbar-width: thin;
}
.cus-scrollbar::-webkit-scrollbar-track{
    border-radius: 100vw;   
    margin-block: 1.5em;
}
.cus-scrollbar::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.2);
    border-radius: 100vw;
}
.area{
    width: 100%;
    height: 100%;
    display: flex;
}
.Home-l-contant{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction{
  padding-left: 60px;
}
.Home-l-contant .intro {
  font-size: var(--fs5);
  line-height: 60px;
}
.intro span:nth-of-type(1) {
  font-size: var(--fs5);
  font-family: cursive;
}
.intro span:nth-of-type(2) {
  font-size: 45px;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  /* color: rgb(5, 2, 91); */
  text-transform: uppercase;
}
.Bio {
  font-size: var(--fs2);
  font-weight: var(--fw1);
  width: 90%;
  height: auto;
  line-height: 25px;
  margin-bottom: 30px;
  /* color: #024235; */
}
.Bio span{
  font-size: var(--fs3);
  color: rgb(0, 8, 20);
  font-weight: 600;
}

.social-icon .downloadCV{
  cursor: pointer;
  appearance: none;
  padding: 10px 20px;
  border: 1px solid rgba(255,255,255,0.7);
  background: transparent;
  font-size: 22px;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: rgba(204, 219, 232, 0.15) 3px 3px 6px 0px inset,
   rgba(255, 255, 255, 0.15) -3px -3px 6px 1px inset;
   margin-right: 15px;
   transition: 0.3s ease-in-out;
}
.social-icon .fa-brands {
  cursor: pointer;
  font-size: 22px;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  line-height: 37px;
  box-shadow: rgba(204, 219, 232, 0.15) 3px 3px 6px 0px inset,
   rgba(255, 255, 255, 0.15) -3px -3px 6px 1px inset;
   transition: 0.3s ease-in-out;
  /* color: rgba(247, 246, 240, 0.587); */
}
.social-icon .fa-brands:hover,
.social-icon .downloadCV:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(243, 244, 244);
  background-color: rgb(99, 168, 163);
  transform: translateY(-5px);
}

.Home-r-contant{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home-r-contant .main-pic{
  height: auto;
  width: 60%;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);  */
  border: 2px solid var(--bdr);
  filter: brightness(90%);
  border-radius: 40% 20px/ 20px 50% ;
  /* filter: drop-shadow(0 0 10px rgba(151, 149, 149, 0.608)); */
  box-shadow: inset 0px 0px 10px rgba(20, 20, 20, 0.3), 0 0 10px rgba(255,255,255,0.7);
  transform: rotate(-8deg);
  transition: 0.5s ease-in;
}
.Home-r-contant .main-pic:hover{
  transform: rotate(0deg);
   box-shadow: 0 0 15px rgba(255, 255, 255, 0.68);
   transform: scale(1.15);
}






