@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --color-primary: #017cff;
  --color-secondary: rgb(244, 245, 246);
  --color-tertiary: rgb(13, 16, 19);
  --background-color: #ecf0f3;

  --gradient-box-w: linear-gradient(145deg, #e4e8ec, #ffffff);
  --gradient-icon-h:linear-gradient(145deg, #63a9f4, #017cff);
  --shadow-in: inset 2px 3px 5px #d5dbdbb2;

  --shadow-white: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --font-size-f1: 14px;
  --font-size-f2: 16px;
  --font-size-f3: 18px;
  --font-size-f4: 22px;

  --h1: 60px;
  --h2: 55px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px;
}
.dark-mode{
  --color-primary: #017cff;
  --color-secondary: rgb(244, 245, 246);
  --color-tertiary: rgb(244, 245, 246);
  --background-color: rgb(34, 37, 41);

  --gradient-box-w:linear-gradient(145deg, #1e2024, #23272b);

  --shadow-in: inset 2px 3px 5px #0f0f0fb2;

  --shadow-white: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  display: inline-block;
}

/* .d-l-btn{
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  line-height: 50px;
  font-size: var(--font-size-f4);
  background-image: var(--gradient-box-w);
  color: var(--color-tertiary);
  box-shadow: var(--shadow-white);
  transition: 0.4 linear;
} */

.navbar {
  position: fixed;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;
  gap: 20px;
}
.navbar a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar a .nav-name {
  position: relative;
  background-color: var(--color-secondary);
  padding: 5px;
  border-radius: 5px;
  color: var(--color-primary);
  box-shadow: var(--shadow-white);
  font-size: var(--font-size-f1);
  transition: 0.3s linear;
  opacity: 0;
  display: none;
}
.navbar a .nav-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: var(--font-size-f2);
  color: var(--color-tertiary);
  background-image: var(--gradient-box-w);
  box-shadow: var(--shadow-white);
  transition: 0.2s linear;
}

.navbar a :hover {
  color: var(--color-primary);
  transform: scale(1.1);
}
.navbar a:hover > .nav-name {
  display: inline-block;
  opacity: 1;
}
.navbar a .active {
  box-shadow: var(--shadow-in);
  color: var(--color-primary);
  transform: scale(1.1);
  border: 1px solid var(--color-secondary), var(--shadow-white);

  &.nav-icon{
    font-size: var(--font-size-f3);
  }
}

.main-container {
  position: absolute;
  height: 100vh;
  width: 90%;
  right: 0;
  z-index: -1;
}
.area {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
}

/* #Home-Page */

.H-contant{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Home-l-contant{
    height: inherit;
    width: 55%;
    display: flex;
    align-items: center;
}
.introduction{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: var(--font-size-f1);
    color: var(--color-primary);
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.introduction h1{
    font-size: var(--h2);
    color: var(--color-tertiary);
}
.introduction h1 span{
    font-size: var(--h1);
    color: var(--color-primary);
    font-family: var(--font-secondary);
    letter-spacing: 3px;
}
.introduction .Bio{
    max-width: 650px;
    line-height: 1.8;
    font-size: var(--font-size-f2);
    margin-bottom: 40px;
    color: var(--color-tertiary);
    letter-spacing: 2px;
}
.introduction .Bio span{
    color: var(--color-primary);
    font-weight: 500;
    font-size: var(--font-size-f3);
}
.social-icon{
    margin-top: 15px;
    display: flex;
    gap: 30px;
    width: 50%;
}
.social-icon .find-i{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  line-height: 50px;
  font-size: var(--font-size-f4);
  background: var(--gradient-box-w);
  color: var(--color-tertiary);
  box-shadow: var(--shadow-white);
  transition: 0.4 linear;
}
.social-icon .find-i:hover{
    color: var(--color-secondary);
    background: var(--gradient-icon-h);
}

.Home-r-contant{
    height: inherit;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 450px;
    padding: 10px;
    border-radius: 1%;
    background-image: var(--gradient-box-w);
    transition: 0.4s linear;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}
.img-box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),var(--color-secondary),var(--color-secondary), var(--color-primary),var(--color-secondary),var(--color-secondary), var(--color-primary),var(--color-secondary));
    box-shadow: var(--shadow-white);
    border-radius: inherit;
    z-index: -11;
    padding: 3px;
    
    animation: spin 7s linear infinite;
}
@keyframes spin{
    to{
        --angle:360deg;
    }
}
.main-pic{
    height: 550px;
    width: auto;
    z-index: 111;
}

